<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <style>
        /* Add your own CSS styles here */
    </style>
</head>
<body>
<div id="content">
    <img src="/path/to/your/image.jpg" alt="Your image" style="width:50%; height:auto;">
    <form action="/login" method="post" style="position: absolute; top: 10px; right: 10px;">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Log in">
    </form>
    <button onclick="location.href='/signup'" style="position: absolute; top: 60px; right: 10px;">Sign Up</button>
</div>
</body>
</html>
